body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 40px;
}
h2{
    text-decoration: underline;
}
input{
    height: 35px;
    width: 500px;
    padding: 0px 30px;
    font-size: 18px;
    outline: none;
}
#btn{
    height: 35px;
    font-size: 18px;
    width: 100px;
    background-color: blue;
    color: #fff;
    border: none;
    transition: all ease 0.3s;
    cursor: pointer;
}
#btn:hover{
    background-color: #000;
    transition: all ease 0.3s;
}